    @layer base, utils, components;

    @import 'https://cdn.jsdelivr.net/npm/@webtui/css@0.0.5/dist/base.css';

    /* Utils */
    @import 'https://cdn.jsdelivr.net/npm/@webtui/css@0.0.5/dist/utils/box.css';

    /* Components */
    @import 'https://cdn.jsdelivr.net/npm/@webtui/css@0.0.5/dist/components/button.css';
    @import 'https://cdn.jsdelivr.net/npm/@webtui/css@0.0.5/dist/components/typography.css';







    body {
        background-color: rgb(230, 230, 230);
        margin: 0;
        padding: 5%;
        align-items: center;
        gap: 1%;
    }


    pre {
        color: #005a00 !important;
        font-size: 0.5em;
    }

    #ascii-event {
        font-size: 0.1em;
    }#
    .btn{
        background-color:#005a00 !important;
    }